<html>
    <head>
        <title>Build Orders</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/build_orders.css">
        <script type='text/javascript' src='/static/js/raphael-min.js'></script>
        <script type='text/javascript' src='/static/js/jquery-1.7.1.min.js'></script>
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div class='container'>
            {% block main %}
            Hello
            {% endblock %}
        </div>
    </body>
</html>
