<div class='topbar-wrapper'>
    <div class='topbar'>
        <div class='topbar-inner'>
            <div class='container'>
                <h3>
                    {% block logo %}
                    <a href='#'> Build Orders</a>
                    {% endblock %}
                </h3>
                <ul class='nav secondary-nav'>
                    <li>
                        <a href='#'>recent matches</a>
                    </li>
                    <li>
                        <a href='#'>popular builds</a>
                    </li>
                    <li>
                        <a href='#'>logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
