{% extends "base.html" %}

{% macro tech_tree(obj) %}
<ul>
    {% for unit, more in obj.items() %}
    <li>
        <a href='{{ url_for('build_add',
            build_id = build.id, unit = unit) }}'>{{ unit }}</a>
        <div>{{ tech_tree(more) }}</div>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% block main %}
    <div class='row'>
        <a href='{{ url_for('build_create', race = 'terran') }}'>create new</a>
    </div>
    <div class='row page-header'>
        <h1>
            {{ build.order.supply }}
        </h1>
        <p>
            {% for unit, supply in build.distinguishing_features %}
            {{ supply.amount }} {{ unit }}, 
            {% endfor %}
        </p>
    </div>
    </div>
    <div class='row'>
        <div class='span-one-third'>
            <ul>
                {% for unit in build.order._unit_order %}
                <li>
                    {{ unit }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class='span-one-third'>
            <ul>
                {% for unit in build.order.active_units %}
                <li>
                    {{ unit }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class='span-one-third'>
            {{ tech_tree(build.order.available_tech_tree) }}
        </div>
    </div>
{% endblock %}
