{% extends "base.html" %}

{% macro render_field(field) %}
    <div class='control-group{% if field.errors %} error{% endif %}'>
        <label class='control-label'> {{ field.label }} </label>
        <div class='controls'>
            <div class='field'>
                {{ field(**kwargs)|safe }}
            </div>
            {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block head %}
    <link rel='stylesheet' href='/static/css/kalendae.css' type='text/css' charset='utf-8'>
    <script type='text/javascript' src='/static/js/bootstrap-typeahead.js'></script>
    <script type='text/javascript' src='/static/js/kalendae.min.js'></script>
    <script type='text/javascript' src='/static/js/player_search.js'></script>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class='row'>
        {% for message in messages %}
        <p class='error'>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class='row'>
        <form method='post' class='form-horizontal' action='{{ request.path }}'>
            <fieldset>
                {{ render_field(form.name) }}
                {{ render_field(form.time,
                    class_ = 'auto-kal') }}
                {% for field in form.players %}
                    {{ render_field(field,
                        class_ = 'typeahead span3',
                        placeholder = 'Search for players...') }}
                {% endfor %}
                <div class='form-actions'>
                    <input type='submit' class='btn-large btn-primary' value='submit'/>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
